.savanna-game {
	width: 100%;
    height: 900px;
    background: url('../images/savanna/background.svg');
    background-position-x: center;
    background-position-y: calc(((4272px - 100vh) / 30) * -30);
    background-attachment: fixed;
    transition: background-position-y, linear, 1s; 
}
.savanna-game-page {
	display: flex;
    position: relative;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.savanna-sound-on-off-container, .savanna-step-word-counter {
    color: #fff;
}
.word-container,
.energy-container,
.energy-container-two{
    text-shadow: -5px -5px 20px #000000, 5px -5px 20px #000000, -5px 5px 20px #000000, 5px 5px 20px #000000;
    z-index: 5;
    pointer-events: none;
    position: absolute;
    top: 25%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -100%);
    height: 100px;
    border-radius: 50%;
    font-size: 3rem;
    color: #f5f5f5;  
}
.word-container {
    text-shadow: -5px -5px 20px #000000, 5px -5px 20px #000000, -5px 5px 20px #000000, 5px 5px 20px #000000;
    z-index: 5;
    pointer-events: none;
    position: absolute;
    top: 25%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -100%);
    height: 100px;
    border-radius: 50%;
    font-size: 3rem;
    color: #f5f5f5;
}
.energy-container,
.energy-container-two,
.word-container {
    top: -100px;
}
.btn-savanna-openfullscreen,
.btn-savanna-closefullscreen,
.btn-savanna-close {
    border: none;
    outline: none;
    color: #fff;
    background: none;
}
.btn-savanna-closefullscreen {
        display: none;
}
.btn-savanna-close:focus,
.btn-savanna-close:hover,
.btn-savanna-openfullscreen:focus,
.btn-savanna-openfullscreen:hover,
.btn-savanna-closefullscreen:focus,
.btn-savanna-closefullscreen:hover {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: #eeeeec
}
.fa-volume-mute {
	display: none;
}
.fa-heart {
	color: #f70110;
}
.fa-heart-broken {
	display: none;
	color: #f70110;
}
.energy-container-two {
    visibility: hidden;
}
.energy-rotate-none {
    width: 40px;
    height: 40px;
    background-image: url('../images/savanna/energy.png'), radial-gradient(#f9de59, #00a9b500 25%);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    animation: savannaPiu 0.25s cubic-bezier(0.5, 0.5, 0.5, 0.5) 0s infinite;
}
.crystall-container {
    position: relative;
    top: 0px;
    width: 80px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: savannaMyAnimation 5.25s cubic-bezier(0.5, 0.5, 0.5, 0.5) 0s infinite;
}
.crystall {
    position: relative;
      border-radius: 65% 65% 55% 55% / 95% 95% 55% 55%;
      box-shadow: inset 0 0 10px 4px #18bc9c;
      width: 50px;
      height: 80px;
      background-image: url("../images/savanna/pilon.png"), radial-gradient(#0089ff, #00a9b500 75%);
      background-size: contain;
      background-repeat: no-repeat;
      transition-property: width, height;
      transition-duration: 2s;
      transition-timing-function: ease-out;
}
.crystall-stage1 {
    width: 55px;
    height: 85px;
}
.crystall-stage2 {
    width: 60px;
    height: 90px;
}
.crystall-stage3 {
    width: 65px;
    height: 95px;
}
.crystall-stage4 {
    width: 70px;
    height: 100px;
}
.crystall-stage5 {
    width: 75px;
    height: 105px;
}
.crystall-stage6 {
    width: 80px;
    height: 110px;
}
.btn-success{
    background: #077632;
}
.btn-success:focus,
.btn-success:hover {
    background: #077632;
    border: #fff;
    box-shadow: 1px 2px 3px #fff;
}
