.sprint-statistic-blocks {
	width: 70%;
	height: 500px;
	margin-top: 6%;
	padding-top: 2%;
	padding-bottom: 2%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #5e6668;
}
.sprint-statistic-blocks::-webkit-scrollbar {
	width: 10px;
}
.sprint-statistic-blocks::-webkit-scrollbar-track {
	background: #fbfcfd;
	box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}
.sprint-statistic-blocks::-webkit-scrollbar-thumb {
	height: 30px;
	background: #bec9ca;
	border-radius: 8px;
	border: 3px solid #fbfcfd;
}
.sprint-statistic-blocks::-webkit-scrollbar-thumb:hover {
	background: #93a7a6;
}
.sprint-points-result {
	margin: 1%;
	font-size: 22px;
	text-align: center;
}
.sprint-resuit-mistakes,
.sprint-resuit-correct {
	width: 90%;
	height: auto;
	margin: 1%;
}
.sprint-answer-mistakes,
.sprint-answer-correct {
	color: #fff;
	padding: 0 14px;
	border-radius: 21px;
  	margin-left: 5px;
}
.sprint-answer-mistakes {
	background-color: #be1f33;
}
.sprint-answer-correct {
	background-color: #3D6F56;
}
.mistakes-answers,
.corrects-answers {
	width: 85%;
	height: auto;
}
hr {
	width: 90%;
	background: 2px solid #5e6668;
}
.sprint-statistic-buttons {
	width: 50%;
	margin-top: 3%;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	align-items: center;  	
}
.sprint-statistic-buttons button{
	background: #3D6F56;
}
@media (min-width: 576px) and (max-width: 768px){
	.sprint-statistic-buttons {
		width: 80%; 	
	}
}
@media (min-width: 320px) and (max-width: 576px){
	.sprint-statistic-buttons {
		width: 80%; 	
	}
	.sprint-statistic-buttons button{
		margin-top: 2%;
	}
}
@media screen and (max-width: 320px){ 
	.sprint-statistic-buttons {
		width: 80%; 	
	}
}